<!-- header showcase -->
<header id="showcase">

  <div class="bg-image"></div>
  <div class="uk-position-relative">
      <div class="uk-position-top">
          <nav class="uk-navbar-container " uk-navbar>
              <a class="uk-navbar-item uk-logo" href="#">SPA</a>
              <div class="uk-navbar-right">
                  <ul class="uk-navbar-nav">
                      <li class="uk-active"><a href="#">Active</a></li>
                      <li><a href="#">Item</a></li>
                      <li>
                          <a href="#">Parent</a>
                          <div class="uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                  <li class="uk-active"><a href="#">Active</a></li>
                                  <li><a href="#">Item</a></li>
                                  <li class="uk-nav-header">Header</li>
                                  <li><a href="#">Item</a></li>
                                  <li><a href="#">Item</a></li>
                                  <li class="uk-nav-divider"></li>
                                  <li><a href="#">Item</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
                  <a class="uk-button uk-button-primary" href="">Get a quote</a>
              </div>
          </nav>
      </div>
  </div>
  <div class="content-wrap">
  <h1>Welcome to Smart People Africa</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nemo nam quia cupiditate eaque magni inventore consectetur
    molestias eos nostrum.</p>
  <a class="uk-button uk-button-primary" href="#section-b">Learn More</a>
  </div>
</header>
<!-- main area -->
<main id="main">
  <!-- section-a -->
  <section id="section-a">
    <div class="content-wrapper">
      <h2 class="content-title">Web & Mobile Application Develpment</h2>
      <div class="content-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, sunt? Et necessitatibus quasi non recusandae placeat
        quae a. Nulla assumenda labore quibusdam quis veritatis sit voluptates rerum est, alias, laboriosam voluptas quos
        placeat dolore molestiae. Voluptatum alias voluptas repellat in?</p>
        </div>
    </div>
  </section>

  <!-- section-b -->
  <section id="section-b" class="flex">
    <div class="uk-grid uk-child-width-expand@s">
      <!-- card item -->
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img src="https://images.pexels.com/photos/908287/pexels-photo-908287.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi deleniti atque quidem similique recusandae
              nihil dolor iusto nam eaque at.</p>
          </div>
        </div>
      </div>

      <!-- card item -->
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img src="https://images.pexels.com/photos/359757/pexels-photo-359757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Mobile Aplications</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi deleniti atque quidem similique recusandae
              nihil dolor iusto nam eaque at.</p>
          </div>
        </div>
      </div>

      <!-- card item -->
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img src="https://images.pexels.com/photos/164474/pexels-photo-164474.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Payment Intergration</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi deleniti atque quidem similique recusandae
              nihil dolor iusto nam eaque at.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- section-c -->
  <section id="section-c">
    <div class="content-wrapper">
      <h2 class="content-title">Services We Provide</h2>

      <!-- grid one -->
      <div class="uk-grid-small uk-child-width-expand@s uk-grid-item-match" uk-grid>
        <!-- item 1 -->
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span uk-icon="icon: credit-card; ratio:3.5;"></span>
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title">Billing Solution</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>Our comprehensive Online Marketing strategy will boost your website and traffic hence monthly sales.</p>
          </div>
        </div>



        <!-- item 2 -->
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span uk-icon="icon:  lifesaver; ratio:3.5;"></span>
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title">PickPay ERP</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>It is a revolutionary product tailored to your busines.The system is 100% customizable meeting all your business
              needs.
            </p>
          </div>
        </div>





        <!-- item 3 -->
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span uk-icon="icon:  phone; ratio:3.5;"></span>
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title">M-Pesa & Bank integration</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>payments done via Mobile channels and banks are remitted to customer account real-time.</p>
          </div>
        </div>

      </div>

      <!-- grid 2 -->
      <div class="uk-grid-small uk-child-width-expand@s uk-grid-item-match" uk-grid>

        <!-- item 1 -->
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span uk-icon="icon: bolt; ratio:3.5;"></span>
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title">Revenue collection</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>SMART revenue solution is a system that enables automation of revenue collection right from customers’ registrations
              to payment.</p>
          </div>
        </div>




        <!-- item 2 -->
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span uk-icon="icon: mail; ratio:3.5;"></span>
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title">Bulk SMS</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>Migrate from the traditional bulk SMS system to a more robust and dynamic system that helps you integrate with
              your system.</p>
          </div>
        </div>





        <!-- item 3 -->
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span uk-icon="icon: code; ratio:3.5;"></span>
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title">Mobile & Web Development</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>We love taking ideas and turning them into real apps. We are passionate, creative, and have experience developing
              products as entrepreneurs.</p>
          </div>
        </div>


      </div>

    </div>
  </section>

  <!-- section-d -->
  <section id="section-d">
    <h2>Testimonials</h2>

    <div uk-slider="center: true; autoplay: true">

      <div class="uk-position-relative uk-visible-toggle uk-light">

        <ul class="uk-slider-items uk-child-width-1-4@s  uk-grid">

          <!-- item 1 -->
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/324658/pexels-photo-324658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">SPA-Limited</h3>
                <p>The ERPs are easy for a novice to navigate.</p>
              </div>
            </div>
          </li>

          <!-- item 2 -->
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Nyahururu Water</h3>
                <p>The billing system has helped us double our profits.</p>
              </div>
            </div>
          </li>

          <!-- item 3 -->
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/462680/pexels-photo-462680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Mike Parker</h3>
                <p>We have complitely automated our systems.</p>
              </div>
            </div>
          </li>

          <!-- item 4 -->
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/213117/pexels-photo-213117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">John Doe</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, ipsum!</p>
              </div>
            </div>
          </li>

          <!-- item 5 -->
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/407237/pexels-photo-407237.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Mutegi Samuel</h3>
                <p>The design is relly awesome Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </li>

          <!-- item 6 -->
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/834863/pexels-photo-834863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Acme LTD</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
          <!-- item 7 -->
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/846741/pexels-photo-846741.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Brian Chesky</h3>
                <p>RElly fast system Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

      </div>

      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
  </section>

  <!-- section-e -->
  <section id="section-e" class="grid">
    <div id="description" class="box">
      <h2 class="content-title">We Lead from the Front</h2>
      <p>Smart People Africa Ltd is Kenyan owned and registered company with presence in Kenya and Africa countries. Our Head
        office is located in located in Nairobi Karen estate along Karen road. We endeavor not only to sell our products
        and services to our highly valued clients but also take time to advise our customers to ensure that they make well
        informed decisions before they spend their hard earned money. We also offer after sale services as and when required.
        Our sale and service team comprises of experienced and dedicated technocrats who always ensure our customers are
        satisfied. Our success is driven by our people and their commitment to get results the right way, by operating responsibly,
        executing with excellence, applying innovative technologies and capturing new opportunities for profitable growth.</p>
    </div>
    <div id="form" class="box">
      <!-- form -->
      <form>
          <fieldset class="uk-fieldset">

              <legend class="uk-legend">Give us your feedback</legend>

              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Enter name">
              </div>

              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Enter email">
              </div>

              <div class="uk-margin">
                  <textarea class="uk-textarea" rows="5" placeholder="Say something"></textarea>
              </div>

          </fieldset>
          <button class="uk-button uk-button-secondary">Button</button>
      </form>
    </div>
  </section>
</main>


<!-- footer -->
<footer id="main-footer">
  <div>SPA-Limited</div>
  <div>Project By: <a href="http://mutegisamuel.github.io/MyPortfolio" target="_blank">Mutegi Samuel</a></div>
</footer>
<router-outlet></router-outlet>
